{% extends 'layouts/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}

{% block content %}
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-subtitle">Rate: {{ product.rate }}</h6>
                    <h5 class="card-title">{{ product.title }}</h5>
                    <h6 class="card-title">${{ product.price }}</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">BUY</a>
                    <a href="/products/{{ product.id }}/" class="btn btn-primary">MORE</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}